:root {
  --clr-primary-300: hsl(332, 100%, 97%);
  --clr-primary-400: hsl(14, 45%, 36%);
  --clr-primary-500: hsl(332, 51%, 32%);

  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-neutral-200: hsl(330, 100%, 98%);
  --clr-neutral-300: hsl(30, 54%, 90%);
  --clr-neutral-400: hsl(30, 18%, 87%);
  --clr-neutral-500: hsl(30, 10%, 34%);
  --clr-neutral-600: hsl(24, 5%, 18%);

  --ff-base: 'Outfit', sans-serif;
  --ff-accent: 'Young Serif', serif;
  --fs-base: 1rem;
  --fw-regular: 400;
  --fw-semi-bold: 600;
  --fw-bold: 700;
}

/*  General CSS Reset */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

/*  My Custom Code */

body {
  display: grid;
  place-items: center;
  font-family: var(--ff-base);
  font-size: var(--fs-base);
  font-weight: var(--fw-regular);
  background-color: var(--clr-neutral-300);
  color: var(--clr-neutral-500);
  padding: 2rem 0;
}

main {
  max-width: 24rem;
  background-color: var(--clr-neutral-100);
}

section {
  margin: 0 2rem 1.5rem;
}

.section__hero {
  display: grid;
  gap: 1.25rem;
  padding-top: 2.5rem;
}

h1 {
  color: var(--clr-neutral-600);
  font-family: var(--ff-accent);
}

h2 {
  margin-bottom: 1.5rem;
  font-family: var(--ff-accent);
}
h2,
td {
  color: var(--clr-primary-400);
}

ul,
ol {
  padding-left: 1rem;
  display: grid;
  gap: 0.5rem;
}

li::marker {
  color: var(--clr-primary-500);
}

li {
  padding-left: 1rem;
}

.section__prepare {
  background-color: var(--clr-primary-300);
  padding: 2rem;
  border-radius: 0.75rem;
}

.section__prepare > p {
  font-size: 1.125rem;
  margin-bottom: 1rem;
  color: var(--clr-primary-500);
  font-weight: var(--fw-bold);
}

table {
  width: 100%;
  border-collapse: collapse;
}
tr {
  border-bottom: 1px solid var(--clr-neutral-400);
}
tr:last-child {
  border-bottom: none;
}

td {
  padding: 0.75rem;
  font-weight: var(--fw-bold);
}

th {
  font-weight: var(--fw-semi-bold);
  text-align: left;
  padding-left: 2rem;
}

.section__ingredients,
.section__instructions {
  border-bottom: 1px solid var(--clr-neutral-400);
}

.section__ingredients ul > li:last-child,
.section__instructions ol > li:last-child {
  padding-bottom: 1.5rem;
}

@media (min-width: 40rem) {
  main {
    border-radius: 0.75rem;
    max-width: 46.25rem;
  }
  picture {
    padding: 2rem 2rem 0 2rem;
  }
  .img {
    border-radius: 0.75rem;
  }
}
