:root {
  --clr-primary-400: hsl(158, 36%, 37%);
  --clr-primary-500: hsl(158, 36%, 20%);
  --clr-secondary-200: hsl(30, 38%, 92%);

  --clr-neutral-900: hsl(212, 21%, 14%);
  --clr-neutral-400: hsl(228, 12%, 48%);
  --clr-neutral-100: hsl(0, 0%, 100%);

  --ff-accent: "Fraunces", serif;
  --ff-base: "Montserrat", sans-serif;

  --fw-regular: 500;
  --fw-semi-bold: 700;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  line-height: 1.7;
}

h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1;
}

h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

body {
  font-family: var(--ff-base);
  font-size: 0.875rem;
  font-weight: var(--fw-regular);
  color: var(--clr-neutral-400);
  background-color: var(--clr-secondary-200);
  display: grid;
  place-items: center;
  margin: 1rem;
}

/*  Utility classes */

.flex-group {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  align-items: center;
}

.visually-hidden:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* Product Styles */

.product {
  --content-padding: 1.5rem;
  --content-spacing: 1rem;

  display: grid;
  max-width: 37.5rem;
  background-color: var(--clr-neutral-100);
  border-radius: 0.5rem;
  overflow: hidden;
}

@media(min-width:600px){
  .product {
    --content-padding: 2rem;
    grid-template-columns: 1fr 1fr;
  }

}

.product__content {
  display: grid;
  gap: var(--content-spacing);
  padding: var(--content-padding);
}

.product__category {
  font-size: 0.8125rem;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.product__header {
  font-size: 2rem;
  font-family: var(--ff-accent);
  color: var(--clr-neutral-900);
}

.product__price {
  font-size: 2rem;
  font-family: var(--ff-accent);
  color: var(--clr-primary-400);
}

.button {
  border: 0;
  border-radius: 0.5rem;
  cursor: pointer;
  text-decoration: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
  padding: 0.75rem 1.5rem;
  color: var(--clr-neutral-100);
  background-color: var(--clr-primary-400);
  font-size: 14px;
  font-weight: var(--fw-semi-bold);
}

.button:is(:hover, :focus) {
  background-color: var(--clr-primary-500);
}

.button[data-icon='shopping-cart']::before {
  content: '';
  background-image: url('images/icon-cart.svg');
  height: 16px;
  width: 15px;
  
}
