:root {
  --clr-primary-700: hsl(223, 87%, 63%);
  --clr-secondary-400: hsl(223, 100%, 88%);
  --clr-secondary-500: hsl(354, 100%, 66%);
  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-neutral-800: hsl(0, 0%, 59%);
  --clr-neutral-900: hsl(209, 33%, 12%);

  --ff-default: "Libre Franklin", sans-serif;
  --fw-regular: 300;
  --fw-bold: 600;
  --fw-black: 700;

  --fs-400: 1.25rem;
  --fs-500: 1.5rem;
  --fs-600: 1.75rem;
  --fs-700: 2.5rem;
  --fs-800: 5rem;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

input,
button,
textarea,
select {
  font: inherit;
}

img,
svg {
  display: block;
  max-width: 100%;
}

body {
  font-size: var(--fs-400);
  font-family: var(--ff-default);
  min-height: 100vh;
  display: grid;
  place-items: center;
  padding: 10rem 3rem 4.5rem 3rem;
  text-align: center;
}

header {
  margin-bottom: 3rem;
}

.ping__header {
  color: var(--clr-neutral-800);
  font-size: var(--fs-700);
  font-weight: var(--fw-regular);

  & span {
    color: var(--clr-neutral-900);
    font-weight: var(--fw-bold);
  }
}

.ping__title {
  font-size: var(--fs-400);
  font-weight: var(--fw-bold);
  color: var(--clr-neutral-900);
}

.flex-group {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 2rem;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}


.input,
.button {
  padding: 1rem 2rem;
  border-radius: 100vw;
  border: none;
}

.input {
  border: 1px solid var(--clr-neutral-800);
  margin-bottom: 0.5rem;
  width: 100%;
}

.input::placeholder {
  color: var(--clr-neutral-800);
}

.button {
  background-color: var(--clr-primary-700);
  color: var(--clr-neutral-100);
}

.button:hover {
  background-color: hsl(223, 87%, 63%, 0.7);
  box-shadow: 2px 5px 5px var(--clr-secondary-400);
  cursor: pointer;
  color: var(--clr-neutral-100);
}

.small {
  display: none;
  color: var(--clr-secondary-500);
  font-size: 0.75rem;
  font-weight: 300;
  font-style: italic;
  margin-bottom: 2rem;
}

form.error .small {
  display: block;
}

form.error .input {
  border-color: var(--clr-secondary-500);
}

.dashboard {
  padding: 4rem 0;
}

.footer {
  margin-top: 7rem;
}

ul {
  display: flex;
  justify-content: center;
  gap: 2rem;
  & li {
    list-style: none;
    padding: 0.5rem;
    border-radius: 50%;
    &:hover {
      background-color: var(--clr-primary-700);
    }
  }
}

.fa-brands {
  color: var(--clr-primary-700);
}

.fa-brands:hover {
  color: var(--clr-neutral-100);
}

.copy {
  color: var(--clr-neutral-800);
}

@media (min-width: 600px) {
  body {
    width: 60rem;
    margin: 0 auto;
    padding: 5rem 3rem 4.5rem 3rem;
  }

  .form {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
    gap: 1rem;
  }

  .input-error {
    width: 75%;
    
  }

  .input {
    width: 100%;
    
  }

  .button {
    width: 25%;
  }

  .small {
    text-align: start;
    padding-left: 2rem;
  }
}
