:root {
  --clr-yellow: hsl(47, 88%, 63%);
  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-neutral-800: hsl(0, 0%, 50%);
  --clr-neutral-900: hsl(0, 0%, 7%);
  --ff-default: "Figtree", sans-serif;
  --fw-semi-bold: 600;
  --fw-bold: 800;
  --fs-default: 1rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
}

body {
  display: grid;
  place-items: center;
  min-height: 100vh;
  line-height: 1.5;
  background-color: var(--clr-yellow);
  font-size: var(--fs-default);
  font-family: var(--ff-default);
}

h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

main {
  max-width: 23.5rem;
  margin-inline: 1.5rem;
  border-radius: 1rem;
  overflow: hidden;
  border: 1px solid var(--clr-neutral-900);
  box-shadow: 10px 10px 1px rgba(0, 0, 0, 1);
}

.card {
  background-color: var(--clr-neutral-100);
  padding: 1.5rem;
}

.card__image {
  margin-bottom: 1.5rem;
}

.card__image img {
  border-radius: 0.5rem;
  width: 100%;
}

.card__body {
  --margin-botton: 1.5rem;
}

small {
  display: block;
  width: fit-content;
  padding: 0.375rem 0.75rem;
  border-radius: 0.25rem;
  background-color: var(--clr-yellow);
  font-weight: var(--fw-bold);
  margin-bottom: 1rem;
}

span {
  display: block;
  font-weight: var(--fw-semi-bold);
  margin-bottom: 1.25rem;
}

.card__header {
  font-weight: var(--fw-bold);
  font-size: 1.5rem;
  margin-bottom: var(--margin-botton);
}

.card__header:hover {
  color: var(--clr-yellow);
  cursor: pointer;
}

.card__text {
  color: var(--clr-neutral-800);
  margin-bottom: var(--margin-botton);
}

.card__author {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.card__author-img {
  width: 2.25rem;
}
